<form class="login" action="/login" method="post">
    <p class="title">Login</p>
    <input class="input" type="text" name="cpf" placeholder="CPF" autofocus />

    <i class="fa fa-user"></i>
    <input class="input" type="password" name="password" placeholder="Senha" />

    <i class="fa fa-key"></i>
    <a href="/register">Criar conta</a>

    <button>
        <i class="spinner"></i>
        <span class="state">Login</span>
    </button>
</form>
</p>