<div class="wrapper">
    <form class="login" action="/register" method="post">
        <p class="title">Criar nova conta</p>
        <input class="input" type="text" name="firstName" placeholder="Primeiro Nome" autofocus />

        <i class="fa fa-user"></i>
        <input class="input" type="text" name="lastName" placeholder="Último Nome" />

        <i class="fa fa-user"></i>
        <input class="input" type="text" name="email" placeholder="Email" />

        <i class="fa fa-user"></i>
        <input class="input" type="text" name="cpf" placeholder="CPF" />

        <i class="fa fa-user"></i>
        <input class="input" type="password" name="password" placeholder="Senha" />

        <i class="fa fa-key"></i>
        <a href="/login">Login</a>

        <button>
            <i class="spinner"></i>
            <span class="state">Registrar</span>
        </button>
    </form>
    </p>
</div>